# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
venv
# Terraform files
terraform.tfvars
**/.terraform/**
**/backend.tf
*.tfstate
*.tfstate.*
*.lock.hcl

venv
**/.terraform/*
crash.log
credentials.json
.idea
.vscode/
env/
.envrc
*.iml
elk/
test/**


# Skipping any locally existing module deployment files (created by RAD Lab Launcher)
radlab-launcher/deployments/*