# Code owners file.
# This file controls who is tagged for review for any given pull request.

# The gps-demos team is the default owner for anything not
# explicitly taken by someone else.

*       @GoogleCloudPlatform/gps-demos

# Below are the owners if specific folders and its files 
# directory in the root of your repository and any of its
# subdirectories.

/.github/                       @guptamukul-google

/docs/                          @agussman @BrianReevz @debakkerb @guptamukul-google

/modules/                       @debakkerb @guptamukul-google @debakkerb

/scripts/                       @guptamukul-google

/scripts/gcp-ai-notebook-tools/ @hradhakrishnan

/scripts/notebooks-playground/  @hradhakrishnan

/tools/                         @guptamukul-google

/.github/                       @guptamukul-google

# Below are the owners of individual file types

*.json   @guptamukul-google 

*.md    @agussman @BrianReevz @debakkerb @guptamukul-google @hradhakrishnan

*.py    @guptamukul-google

*.sh    @debakkerb @guptamukul-google @hradhakrishnan

*.tf    @debakkerb @guptamukul-google

*.txt   @guptamukul-google

*.yml   @guptamukul-google 