# Organization ID where GCP Resources need to get spin up for RAD Lab. It can be skipped if already setting folder_id
organization_id     =   "123456789"

# Folder ID where the project should be created. It can be skipped if already setting organization_id. 
# Leave blank if the project should be created directly underneath the Organization node.
folder_id           =   "987654321"

# Billing Account associated to the GCP Resources
billing_account_id  =   "ABCDE-12345-FGHIJ"

# When using an existing project, this can be set to false if the required APIs are already enabled.
# Default is true to enable necessary APIs on the newly created GCP project for RAD Lab
enable_services = false

# When setting below variable to false to deploy module in existing GCP project. 
# Default is true i.e. to create a new project.
create_project = false

# Prefix for the project ID, if creating new GCP project in RAD Lab deployment using above variable. 
# GCP Project ID of existing project, if using existing GCP project in RAD Lab deployment using above variable. 
project_id_prefix = "radlab-project"

# Random ID a.k.a. Deployment ID for the RAD Lab Deployment. 
# Only set it when either Updating or Deleting the existing deployment.
# This will be added as suffix of 4 random characters to the `project_id_prefix` when creating the deployment.
random_id = "abc1"

# When you have already se the below Orgpolicies set it below variables to false.
# Default is true to set necessary Org Policies on the newly created GCP project for RAD Lab
set_external_ip_policy = false
set_shielded_vm_policy = false
set_trustedimage_project_policy = false

# GCP Zone where all the GCP resources will be spun up. 
zone = "us-east4-c"

# When setting below variable to false to deploy module in existing VPC network. Default is true
create_network = false

# Name of the network to be created or if using the existing one.
network_name = "network-name"

# Name of the sub-network to be created or if using the existing one.
subnet_name = "sub-network-name"

# Unique IP CIDR Range for the subnet. Not required if using existing network. 
ip_cidr_range = "10.1.1.0/24"

# Flag to determine what type of Image you would like to deploy for AI Notebook Workbench.
# Default is false i.e. VM Image type and to create Container Image type set the variable to true.
create_container_image = false

# Number of notebooks you would like to spin up as part of RAD Lab Data Science environment. 
# Default is 1
notebook_count = "5"

# List of Users you would like to give access to the created Notebooks & GCS Bucket apart from the identity created the notebook.
trusted_users = ["user:notebookuser1@domain.com", "user:notebookuser2@domain.com"]

# Below 2 variables are specific only to VM type image for Notebooks.
## Specific Deep Learning VM Images for the AI Notebook. More Info: https://cloud.google.com/deep-learning-vm/docs/images
image_family = "tf-latest-cpu"

## Google Cloud project where the image is hosted.
image_project = "deeplearning-platform-release"

# Below 2 variables are specific only to Container type image for Notebooks.

## The path to the container image repository. For example: gcr.io/{project_id}/{imageName}
## More Info: https://cloud.google.com/container-registry/docs/pushing-and-pulling#add-registry
## The link to the list of Google Container Registry public images is: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL.
container_image_repository = ""


## The tag of the container image. 
## If not specified, this defaults to the latest tag.
container_image_tag = "latest"

# Set Machine type which defines VM kind
# More Info: https://cloud.google.com/compute/docs/general-purpose-machines
machine_type = "n1-standard-1"

# The size of the boot disk in GB attached to this instance, up to a maximum of 64000 GB (64 TB). 
# The minimum recommended value is 100 GB. If not specified, this defaults to 100.
boot_disk_size_gb = 200

# Possible disk types for notebook instances. 
# Possible values are DISK_TYPE_UNSPECIFIED, PD_STANDARD, PD_SSD, and PD_BALANCED.
boot_disk_type = "PD_SSD"

# Flag to Install GPU Driver.
# Default is false i.e. do not install GPU Driver
enable_gpu_driver = true

# Type of this accelerator. 
# Possible values are ACCELERATOR_TYPE_UNSPECIFIED, NVIDIA_TESLA_K80, NVIDIA_TESLA_P100, NVIDIA_TESLA_V100, NVIDIA_TESLA_P4, NVIDIA_TESLA_T4, NVIDIA_TESLA_T4_VWS, NVIDIA_TESLA_P100_VWS, NVIDIA_TESLA_P4_VWS, NVIDIA_TESLA_A100, TPU_V2, and TPU_V3.
# Default none is set.
gpu_accelerator_type = "NVIDIA_TESLA_V100"

# Count of cores of the above accelerator.
gpu_accelerator_core_count = 1